@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello and Welcome to My Sample Microservices App!</h1>

<p align="justify">
    This application purpose is purely educational and serves as an example of how can microservices application imitating a workflow of small store
    selling different items look like. I totally understand that using microservices and RabbitMq messaging along with Saga pattern for the purpose of a
    small store is a bit overkill but please understand that this is just an educational test example of how person can utilize different technologies for
    the sake of creating microservices application.
</p>
